<div style="text-align:center">
  <img class="avengers-banner" alt="Avengers-Infinity-War-updated-logo" src="assets/Avengers-Infinity-War-updated-logo.jpg">
</div>
<div class="avenger-listing-container">
  <div class="avenger-listing-selection">
    <ul>
      <li *ngFor="let avenger of avengers" (click)="setSelectedAvenger(avenger)" [ngClass]="{ 'is-selected': selectedAvenger === avenger }">
        <app-avenger [avenger]="avenger"></app-avenger>
      </li>
    </ul>
  </div>
  <div class="selected-avenger-content" *ngIf="selectedAvenger">
    <app-selected-avenger [selectedAvenger]="selectedAvenger"></app-selected-avenger>
  </div>
</div>
